NEXT_PUBLIC_SUPABASE_URL=https://fghafljvnucxqtxrbrwy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZnaGFmbGp2bnVjeHF0eHJicnd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3ODkyNzksImV4cCI6MjA5OTM2NTI3OX0.wyWrU9YwuT9yuj4MD5CJGARins9ioxbBRdl97z6iNlU
NEXT_PUBLIC_SITE_URL=https://ennoblerise.org
